.container {
  margin: 50px 0;
  align-items: center;
  display:flex;
  width: 100%;
  flex-direction: column;
}

.card {
  margin: 0 2% !important;
}

.infected {
  border-bottom: 10px solid rgba(218, 218, 8, 0.75);
}

.recovered {
  border-bottom: 10px solid rgba(1, 177, 1, 0.75);
}

.deaths {
  border-bottom: 10px solid rgba(189, 5, 5, 0.75);
}

.active {
  border-bottom: 10px solid rgba(67, 67, 185, 0.75);
}

@media (max-width: 800px) {
  .card {
    margin: 2%, 0 !important
  }
}